<div class="col-lg-4" style="height:400px; margin-left: 454px; padding: 30px;">
  <center>
  <h1>Create a New User!</h1>
  </center>

  <%= form_for @user do |f| %>

    <div class="form-format">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-format">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-format">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="form-format">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="form-format">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

  </br>

  <center>
    <%= f.submit :class => 'btn btn-success' %>
  </center>

  <% end %>
  </center>
</div>