<center><div class="col-lg-4" style="height:400px; margin-left: 454px; padding: 30px;">

	<h1>Login Page</h1>
	<%= form_for @user, url: login_path do |f| %>

		<div class="form-format">
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>

		<div class="form-format">
		  <%= f.label :password %>
		  <%= f.password_field :password %>
		</div>
		</br>
	  <%= f.submit "Log In", class:"btn btn-default" %>

	<% end %>

	</br></br>

	<p>Don't have an account yet? Create one today!</p>
	</br>
	<%= link_to "Sign Up Today!", new_user_path, class: "btn btn-primary" %>
</div>
</center>