<div class="jumbotron">
  <h1>Title: <%= @post.title %> </h1>
  
<div class="row">
  <div class="col-lg-4", id="post_photo">
    <div>
      <%= image_tag(@post.photo_url) if @post.photo %>
    </div>
    <div id="post_price">
      <strong>Price:</strong> <%= number_to_currency(@post.price)%>
    </div>
  </div>
  <div class="col-lg-8", id="post_content">
    <%= @post.body %>
  <div id="post_location">
    <strong>Location:</strong> <%= @post.location %>
  </div>
  </div>
</div>


<div>
  <%= link_to 'edit', edit_post_path(@post) %>
  <%= link_to 'back', posts_path %>
</div>