<div class="jumbotron">
  <h1>Title: <%= @post.title %> </h1>
	</br>
	</br>
  <%= @post.body %>
  </br>
	</br>
  <strong>Price:</strong> <%= @post.price %>
	</br>
	</br>
  <strong>Location:</strong>  <%= @post.location %>
</div>

<%= link_to 'edit', edit_post_path(@post) %>
<%= link_to 'back', posts_path %>