<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
  <%= csrf_meta_tags %> 
</head>
  <body class='<%= controller.controller_name %>'>

  <!--Navbar div -->
<div class="navbar navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="navbar-brand">Craigslist App</li>
    <li><%= link_to "Home", welcome_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
    <li><%= link_to "Cities", cities_path %></li>
    <li><%= link_to "All Posts", posts_path %></li>
  </ul>
  <form class="navbar-form pull-right">
    <%= link_to "Log in", login_path, class:"btn btn-default" %>
  </form>
</div>

<% if flash[:notice] %>
  <div id="notice"><%= notice %></div>
<% end %>

<%= yield %>

</body>
</html>
